.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        = @group.name
      .main-chat__group-info__left-box__members
        .main-chat__group-info__left-box__members__member
          Member：
        .main-chat__group-info__left-box__members__member-name
          - @group.users.each do |user|
            = user.name
    .main-chat__group-info__edit-btn
      = link_to "Edit", edit_group_path(@group)

  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    = form_for [:group, @message] do |f|
      .form-content
        = f.text_field :content, placeholder: 'type a message', class: 'form-content__message'
        = f.label :image, class: 'form-content__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class:"form-content__send"